// Ce fichier est prévu pour appliquer des styles généraux.
// Principalement sur le body...
@use 'reset';
// j'indique que j'utilise le fichier qui contient la variable
@use 'vars';

body {
  // j'utilise la variable
  font-family: vars.$font;
  background-color: vars.$color-alt;
  font-weight:300;
  color: vars.$color;
}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
