@use 'src/styles/vars';

.currencies{
  background-color: vars.$color-light;

  height:60vh;
  overflow-y: auto;

  &__title{
    font-weight: 700;
    padding: vars.$gutter;
  }

  &__list{

    &__item{
      border-top: solid 1px vars.$color;
      padding: vars.$gutter;
      transition: all vars.$transition-slow;

      &:hover{
        background-color: vars.$color-alt;
        cursor: pointer;
        transition: all vars.$transition-fast;
      }
   }

  }
  
}
